* {
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  padding: 60px;
  color: white;
}

.Title {
  text-align: center;
}

.Container {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.ListContainer {
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
  padding: 0 20px;
  color: black;
}

.EmptyList {
  text-align: center;
}

.ListContainer>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Input-Section {
  margin-top: 10px;
  display: flex;
  align-items: stretch;
}

#Todo-Input {
  flex-grow: 1;
  outline: none;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 0 8px;
}

#Todo-Input:focus {
  border: 2px solid rgb(57, 136, 196);
}

.Button-Primary {
  border: 1px solid transparent;
  background-color: rgb(38, 97, 141);
  color: white;
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.Button-Primary:hover {
  border: 1px solid white;
}

.Button-Primary::after {
  clear: both;
}

.Todo {
  padding: 10px 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Todo.Finished>span {
  text-decoration: line-through;
}

.Todo:not(:last-child) {
  border-bottom: 1px solid gray;
}

.Delete {
  background-color: rgb(199, 72, 72);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-out;
  border: 1px solid transparent;
}

.Delete:hover {
  color: rgb(199, 72, 72);
  background-color: white;
  border-color: rgb(199, 72, 72);
}